<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <h4 class="text-white">Siga-nos nas redes sociais</h4>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center"></div>

            <ul class="social-network">
                <li>
                    <a href="https://www.facebook.com/generationbrasil" target="_blank" class="icoFace"></a>
                </li>
            </ul>

        </div>

    </div>


</footer>