#img-bg {
background-image: url('https://lh3.googleusercontent.com/proxy/EaQhyN7sAIA2dRtCY4xEUeG31STHsY1X40Y8p_ybfsV7Ww2eFwNb81fJ_MTAdiaTMIf6TrEUb5AstCPkrcgOR_qHcYQtUraLCkSe159t6tMNvQStPP0wNFSsj7QD78WNdPz9JH4GdwfB7SdgpTzOCoNvXw');

min-height: 695px;

background-position: center;
background-repeat: no-repeat;
background-size: cover;
}